@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(3, 94, 191);
    font-family:  Poppins, Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.289) 3px 3px 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}